.wrapper {
  height: 100vh;
}

.map,
.chat {
  width: 50vw;
  padding-top: 16px;
  padding-bottom: 16px;
}

agm-map {
  height: calc(100vh - 300px);
}

.messages {
  padding: 15px;
  height: calc(100vh - 300px);
  overflow-y: auto;
  background-color: #f7f7f9;
}

.message {
  padding: 10px 20px;
}

.message-text {
  margin: 0;
}

.user {
  height: 270px;
}

.input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  height: 150px;
  resize: none;
  border: 1px solid #ced4da;
}


