<div class="wrapper container-fluid">
  <div class="row">

  <div class="col chat">
    <div class="messages">
      <div *ngFor="let item of messages">
        <h5 class="alert-heading">{{item.user}}</h5>
        <div class="alert"
             [class.alert-info]="user !== item.user"
             [class.alert-primary]="user === item.user">
          <p class="message-text">{{item.text}}</p>
        </div>
      </div>
    </div>

    <div class="user">
      <h5>Your nickname: <b>{{user}}</b></h5>
      <textarea [formControl]="userMessage" placeholder="You message:" class="form-input input"></textarea>
      <button type="button" class="btn btn-primary"
              (click)="addMessage()" [disabled]="userMessage.invalid">Send!</button>
    </div>
  </div>

  <div class="col map">
    <agm-map
      [zoom]="2"
      [disableDefaultUI]="false"
      [zoomControl]="false">

      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [iconUrl]="setIconColor(m.user)"
        [label]="m.user"
        [markerDraggable]="false"></agm-marker>
    </agm-map>
  </div>
  </div>
</div>




